@using System.Globalization
@model IRunViewModel
@{
    ViewBag.Title = "Run";
}
@section Scripts
{
    @Scripts.Render("~/bundles/signalR")
    <script type="text/javascript" src="@Model.SignalRUrl/js"></script>
    <script type="text/javascript">
        var filename = "@Model.FileName";

        $(document).ready(function () {
            var progress = new Syringe.Web.Progress("@Model.SignalRUrl");
            progress.monitor(@Model.CurrentTaskId);
        });
    </script>
}
<div class="container">
    <div class="row">
        <h2>@Model.FileName</h2>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-10">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: 0">
                        <span class="sr-only">0% Complete</span>
                    </div>
                </div>

                <div id="running-items">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        @foreach (var testCase in Model.TestCases)
                        {
                            <div class="panel" id="case-@testCase.Id">
                                <div class="panel-heading" role="tab" id="heading@(testCase.Id)">
                                    <h3 class="panel-title">
                                        <a role="button" data-toggle="collapse" href="#collapse@(testCase.Id)" aria-expanded="false" aria-controls="collapse@(testCase.Id)">
                                            @string.Format(CultureInfo.CurrentCulture, "{0} - {1}", testCase.Id, testCase.Description)
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse@(testCase.Id)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@(testCase.Id)">
                                    <div class="panel-body">
                                        <div>
                                            <div class="pull-left case-result-url"></div>
                                            <div class="pull-right">
                                                <a class="hidden view-html btn btn-primary" target="_blank" href="@Url.Action("Html", "Results", new {taskId = Model.CurrentTaskId, caseId = testCase.Id})">View HTML</a>
                                                <a class="hidden view-raw btn btn-primary" target="_blank" href="@Url.Action("Raw", "Results", new {taskId = Model.CurrentTaskId, caseId = testCase.Id})">View raw</a>
                                            </div>
                                        </div>
                                        <div class="case-result-errors">
                                            <div class="hidden case-result-exception">
                                                <h2 class="label label-danger">Error</h2>
                                                <textarea></textarea>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-striped">
                                            <tr>
                                                <td>Verify Type</td>
                                                <td>Description</td>
                                                <td>Regex</td>
                                            </tr>

                                            @foreach (var item in testCase.VerificationItems)
                                            {
                                                <tr class="result-row">
                                                    <td>
                                                        @item.VerifyType.ToString()
                                                    </td>
                                                    <td>
                                                        @item.Description
                                                    </td>
                                                    <td>
                                                        @item.Regex
                                                    </td>
                                                </tr>
                                            }
                                        </table>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>