@model TestCaseSession
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<img alt="Brand" src="/img/syringe.svg" width="150" height="150">
		</div>

		<div class="col-md-10">
			<form action="@Url.Action("DeleteResult", "Home")" method="POST">
				<input type="hidden" name="id" value="@Model.Id"/>
				<button class="btn-link btn-sm pull-right" onclick="return confirm('Are you sure?');">Delete</button>
			</form>
			<h1>
				Results for @Model.TestCaseFilename
			</h1>
			<h4>
				@Model.StartTime.ToString("ddd dd MMM yyyy HH:ss")
			</h4>

			<div class="row">
				<div class="col-md-4">
					<div class="alert alert-dismissable alert-success">
						@Model.TotalCasesPassed tests passed (clickable)
					</div>
				</div>
				<div class="col-md-4">
					<div class="alert alert-dismissable alert-warning">
						@Model.TotalCasesFailed tests failed (clickable)
					</div>
				</div>

				<div class="col-md-4">
					<div class="alert alert-dismissable alert-info">
						Ran for @Model.TotalRunTime.MinutesAndSecondsFormat()
					</div>
				</div>
			</div>

			<div class="list-group">
				@foreach (TestCaseResult result in Model.TestCaseResults)
				{
					string backgroundColor = "green";
					if (!result.Success)
					{
						backgroundColor = "red";
					}
					<div class="list-group-item">
						<div class="row-action-primary">
							<i class="mdi-file-folder" style="background-color: @backgroundColor;"></i>
						</div>
						<div class="row-content">
							<div class="least-content">@result.ResponseTime.MinutesAndSecondsFormat()</div>
							<h4 class="list-group-item-heading">@result.TestCase.ShortDescription</h4>
							<p class="list-group-item-text">
								@result.ActualUrl
							</p>
							<p class="list-group-item-text">
								<a href="#">more...</a>
							</p>
						</div>
					</div>
					<div class="list-group-separator"></div>
				}
			</div>
		</div>
	</div>
</div>