@model TestViewModel
@{
	ViewBag.Title = "Editing " + Model.Filename;
}
<div class="container" id="edit-test">
	<div class="row">

	    <ul class="breadcrumb">
	        <li><a title="View" href="/">Test Files</a></li>
	        <li><a title="View" href="@Url.Action("View", "Test", new {filename = Model.Filename, pageNumber = ViewBag.PageNumber, noOfResults = ViewBag.NoOfResults})">@Model.Filename</a></li>
	        <li>@(Model.ShortDescription ?? "Add")</li>
	    </ul>

       
        @Html.Partial("Partials/_Variables", Model.AvailableVariables)
	    <form action="@(Request.RawUrl)" method="post" class="form-horizontal">

			@Html.ValidationSummary(false, "", new {@class = "alert alert-danger"})
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">General</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						@Html.LabelFor(x => x.ShortDescription, new {@class = "col-sm-2 control-label"})
						<div class="col-sm-4">
							@Html.TextBoxFor(x => x.ShortDescription, new {@class = "form-control", placeholder = "Enter Short Description"})
						</div>
						@Html.LabelFor(x => x.Url, new {@class = "col-sm-2 control-label"})
						<div class="col-sm-4">
							@Html.TextBoxFor(x => x.Url, new {@class = "form-control", placeholder = "Enter URL" })
                            
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(x => x.LongDescription, new {@class = "col-sm-2 control-label"})
						<div class="col-sm-10">
							@Html.TextBoxFor(x => x.LongDescription, new {@class = "form-control", placeholder = "Enter Long Description"})
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(x => x.Method, new {@class = "col-sm-2 control-label"})
						<div class="col-sm-4">
							@Html.EnumDropDownListFor(x => x.Method, new {@class = "form-control"})
						</div>
						@Html.LabelFor(x => x.VerifyResponseCode, new {@class = "col-sm-2 control-label"})
						<div class="col-sm-4">
							@Html.EnumDropDownListFor(x => x.VerifyResponseCode, new {@class = "form-control"})
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(x => x.ErrorMessage, new {@class = "col-sm-2 control-label"})
						<div class="col-sm-4">
							@Html.TextBoxFor(x => x.ErrorMessage, new {@class = "form-control", placeholder = "Enter error message"})
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(x => x.PostBody, new {@class = "col-sm-2 control-label"})
						<div class="col-sm-10">
							@Html.TextBoxFor(x => x.PostBody, new {@class = "form-control", placeholder = "Enter Post Body"})
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h3 class="panel-title pull-left">Headers</h3>
					<button type="submit" class="btn btn-primary glyphicon glyphicon-plus pull-right" id="addHeaderItem"></button>
				</div>
				<div class="panel-body">
					@Html.EditorFor(x => x.Headers)
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h3 class="panel-title pull-left">Captured Variables</h3>
					<button type="submit" class="btn btn-primary glyphicon glyphicon-plus pull-right" id="addParsedItem"></button>
				</div>
				<div class="panel-body">
					@Html.EditorFor(x => x.CapturedVariables)
				</div>
			</div>

		    <div class="panel panel-default">
			    <div class="panel-heading clearfix">
				    <h3 class="panel-title pull-left">Assertions</h3>
				    <button type="submit" class="btn btn-primary glyphicon glyphicon-plus pull-right" id="addVerification"></button>
			    </div>
			    <div class="panel-body">
				    @Html.EditorFor(x => x.Assertions)
			    </div>
		    </div>

		    <div class="pull-right">
				<a href="@Url.Action("View", new {filename = Model.Filename})" class="btn btn-primary">Cancel</a>
				<input type="submit" value="Save" class="btn btn-primary" />    
		    </div>
		</form>
	</div>
</div>
