@model TestFileViewModel
@{
    ViewBag.Title = "Viewing " + Model.Filename;
}
<div class="container" id="view-file">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a title="View" href="/">Test Files</a></li>
                <li>@Model.Filename</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <nav class="col-xs-8">
            @Html.Partial("Partials/_TestPager")
        </nav>
        <div class="col-xs-4 text-right">
            <a class="btn btn-sm btn-primary" href="@Url.Action("Add", "Test", new {filename = Model.Filename, pageNumber = Model.PageNumber, noOfResults = Model.NoOfResults})">Add</a>
	        <a class="btn btn-sm btn-primary" href="@Url.Action("Update", "TestFile", new {filename = Model.Filename, pageNumber = Model.PageNumber, noOfResults = Model.NoOfResults})">Variables</a>
			<a class="btn btn-sm btn-primary" href="@Url.Action("EditXml", "Test", new {filename = Model.Filename, pageNumber = Model.PageNumber, noOfResults = Model.NoOfResults})">View XML</a>
        </div>
    </div>

    @if (Model.Tests.Any() == false)
    {
        <p>No test tests found.</p>}
    else
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (TestViewModel test in Model.Tests)
                {
                    <tr>
                        <td class="description">
                            <p>@test.ShortDescription</p> <h6>@test.Url</h6>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "Test", new {filename = Model.Filename, position = test.Position, pageNumber = Model.PageNumber, noOfResults = Model.NoOfResults})">
                                <i class="material-icons">mode_edit</i>
                            </a>
                            @using (Html.BeginForm("Delete", "Test"))
                            {
                                <input type="hidden" name="filename" value="@Model.Filename"/>
                                <input type="hidden" name="position" value="@test.Position"/>
                                <button class="btn btn-sm btn-danger" type="submit">
                                    <i class="material-icons">delete</i>
                                </button>
                            }

                            @using (Html.BeginForm("RunTest", "Home"))
                            {
                                <input type="hidden" name="filename" value="@Model.Filename" />
                                <input type="hidden" name="position" value="@test.Position" />
                                <button class="btn btn-sm btn-success" type="submit">
                                    <i class="material-icons">play_arrow</i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.Partial("Partials/_TestPager")
    }
</div>