@model Syringe.Web.Models.VariableItem

<div class="form-group">
    @Html.LabelFor(x => Model.Key, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-3">
        @Html.TextBoxFor(x => Model.Key, new { @class = "form-control", placeholder = "Key" })
    </div>

    @Html.LabelFor(x => Model.Value, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4 col-sm-3 col-lg-4">
        @Html.TextBoxFor(x => Model.Value, new { @class = "form-control", placeholder = "Value" })
    </div>
    <div class="col-xs-1 col-sm-2 col-lg-1">
        @Html.Partial("~/Views/TestCase/EditorTemplates/Partials/_RemoveRow.cshtml")
    </div>
</div>

