@model Syringe.Web.Models.CapturedVariableItem

<div class="form-group">
	@Html.LabelFor(x => Model.Description, new { @class = "col-sm-2 control-label" })
	<div class="col-sm-3">
		@Html.TextBoxFor(x => Model.Description, new { @class = "form-control", placeholder = "Description" })
	</div>

	@Html.LabelFor(x => Model.Regex, new { @class = "col-sm-2 control-label" })
	<div class="col-xs-4 col-sm-3 col-lg-4">
		@Html.TextBoxFor(x => Model.Regex, new { @class = "form-control", placeholder = "Regex" })
	</div>
	<div class="col-xs-1 col-sm-2 col-lg-1">
		@Html.Partial("Partials/_RemoveRow")
	</div>
</div>