@using Syringe.Core
@model ParseResponseItem



<div class="form-group">
    @Html.LabelFor(x => Model.Description, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-3">
        @Html.TextBoxFor(x => Model.Description, new { @class = "form-control", placeholder = "Description" })
    </div>

    @Html.LabelFor(x => Model.Regex, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-4">
        @Html.TextBoxFor(x => Model.Regex, new { @class = "form-control", placeholder = "Regex" })
    </div>
    @Html.Partial("~/Views/TestCase/EditorTemplates/Partials/_RemoveRow.cshtml")
</div>
