@model VerificationItem

<div class="form-group">
	@Html.LabelFor(x => Model.Description, new { @class = "col-sm-2 control-label" })
	<div class="col-sm-2">
		@Html.TextBoxFor(x => Model.Description, new { @class = "form-control", placeholder = "Description" })
	</div>

	@Html.LabelFor(x => Model.Regex, new { @class = "col-sm-2 control-label" })
	<div class="col-sm-2">
		@Html.TextBoxFor(x => Model.Regex, new { @class = "form-control", placeholder = "Regex" })
	</div>

	@Html.LabelFor(x => Model.VerifyType, new { @class = "col-sm-1 control-label" })
	<div class="col-sm-2">
		@Html.EnumDropDownListFor(x => Model.VerifyType, new {@class = "form-control", placeholder = "Verify Type"})
	</div>

	<div class="col-sm-1">
		@Html.Partial("~/Views/TestCase/EditorTemplates/Partials/_RemoveRow.cshtml")
	</div>
</div>
