@model TestFileViewModel

@{
    ViewBag.Title = "Update Test Case";
}
<div class="container" id="edit-test">
    <div class="row">
        <form action="@(Request.RawUrl)" method="post" class="form-horizontal">
            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {
                @Html.ValidationSummary("", new { @class = "alert alert-danger" })
            }

            @Html.HiddenFor(x => x.Filename, new { @class = "form-control" })

            <h2>@Model.Filename</h2>

            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Variables</h3>
                    <button type="submit" class="btn btn-primary glyphicon glyphicon-plus pull-right" id="addVariableItem"></button>
                </div>
                <div class="panel-body">
                    @Html.EditorFor(x => x.Variables)
                </div>
            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>
